
csci260/assignment_1/\.idea/

csci260/assignment_1/CMakeLists\.txt

csci260/assignment_1/cmake-build-debug/

*.o

csci260/assignment_1/pex1

csci260/assignment_1/batch_TEST\.txt

csci261/SSBC18/ssbc_assembler/__pycache__/

csci261/SSBC18/ssbc_assembler/\.idea/

csci260/assignment_2/\.idea/

csci260/assignment_2/cmake-build-debug/

csci260/assignment_2/CMakeLists\.txt

csci260/assignment_2/pex2
